*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu{
    font-weight: bold;
    color: white;
    height: 100px;
    background-color: #B2D6FF;
    text-align: center;
}

 .sidebar{
     font-weight: bold;
     color: rgb(12, 10, 10);
    float: left;
    width: 250px; 
    height: 500px;
     background-color: rgb(151, 84, 84);
     text-align: center;
     border: 10px solid black;
     border-radius: 10px 100px / 120px;
 }
 
 .content{
     font-weight: bold;
     color: rgb(75, 19, 19);
     float: left;
     width: 650px;
     height: 500px;
     background-color: rgb(224, 170, 19);
     text-align:center;
 }

 .footer{
     color: white;
     font-weight: bold;
    clear: both;
    height: 200px;
    background-color: lightblue;
    text-align: center;
 }

 .page{
     overflow: hidden;
     width: 900px;
     margin: 0 auto;
 }
 .container{
     overflow: hidden;
     background-color: #bdcad8;
     
 }
 .column {
    float:left;
     width: 30%;
     margin: 20px 1.15%;
     height: 160px;
     background-color: rgb(146, 146, 204);
     border: 2px solid black;
     border-radius: 10px 100px / 120px;
     text-align: center;
     padding: 50px;
 }
 .list{
     color: black;
     text-align: center;

     float: left;
     width:31%;
     height: 50px;
     margin: 20px 1.15%;
     background-color: rgb(101, 161, 131);
     border: 2px solid black;
     border-radius: 10px 100px / 120px;
 }
 .list-sidebar{
     color: black;
     text-align: center;
     padding:auto;
     border-radius: 10px 100px / 120px;
     width: 85%;
     margin: 20px 1.15%;
     height: 30px;
     background-color: blanchedalmond;
     float:left
   
 }
 .list-sidebar1{
     color: black;
     text-align: center;
     padding: auto;
     border-radius: 10px 100px / 120px;
     width: 100%;
     height: 30px;
     margin: 30px 1.15%;
     
     float: left;
     background-color: rgb(39, 197, 189);


 }

 a:link {
    color: blue;
    text-decoration: none;
  }
  a:visited {
    color: purple;
  }
  a:hover {
    color: aqua;
    text-decoration: underline;
  }
  a:active {
    color: red;
  }