*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu{
    font-weight: bold;
    color: white;
    height: 100px;
    background-color: #B2D6FF;
    text-align: center;
    border: 2px solid rgb(76, 107, 58);
}

 .sidebar{
     font-weight: bold;
     color: rgb(12, 10, 10);
    float: left;
    width: 250px; 
    height: 500px;
     background-color: rgb(151, 84, 84);
     text-align: center;
     border: 10px solid rgb(185, 38, 38);
     border-radius: 10px 100px / 120px;
 }
 
 .content{
     font-weight: bold;
     color: rgb(75, 19, 19);
     float: left;
     width: 700px;
     height: 550px;
     background-color: rgb(224, 170, 19);
     text-align:center;
     border: 15px solid red;
     margin-left: 20px;
     padding: 20px;
     
 }
 .footer{
     color: white;
     font-weight: bold;
    clear: both;
    height: 200px;
    background-color: lightblue;
    text-align: center;
    border: 2px solid black;
 }

 .page{
     overflow: hidden;
     width: 1200px;
     margin: 0 auto;
     height: 750px;
     margin-bottom: 20px;
 }
 .container{
     overflow: hidden;
     background-color: #4775a5;
     
     
 }
 .column {
    float:left;
     width: 30%;
     margin: 20px 1.15%;
     height: 160px;
     background-color: rgb(146, 146, 204);
     border: 2px solid black;
     border-radius: 10px 100px / 120px;
     text-align: center;
     padding: 50px;
 }
 .list{
     color: black;
     text-align: center;

     float: left;
     width:31%;
     height: 50px;
     margin: 20px 1.15%;
     background-color: rgb(101, 161, 131);
     border: 2px solid black;
     border-radius: 10px 100px / 120px;
 }
 .list-sidebar{
     color: black;
     text-align: center;
     padding:auto;
     border-radius: 10px 100px / 120px;
     width: 90%;
     margin: 20px 1.15%;
     height: 30px;
     background-color: blanchedalmond;
     float:left
    
   
 }
 .list-sidebar1{
     color: rgb(88, 32, 194);
     text-align: center;
     padding: auto;
     border-radius: 10px 100px / 120px;
     width: 100%;
     height: 30px;
     margin: 30px 1.15%;
     
     float: left;
     background-color: rgb(39, 197, 189);
     border: 5px solid red;


 }

 a:link {
    color: blue;
    text-decoration: none;
  }
  a:visited {
    color: purple;
  }
  a:hover {
    color: aqua;
    text-decoration: underline;
  }
  a:active {
    color: red;
  }
  .artical-image{
      float: left;
      width: 300px;
      height: 200px;
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 10px;
  }
.avatar{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-color: cornflowerblue;
}
 .username{
     color: crimson;
     margin-top: 10px;
     
 }
 
.comment{
    color: black;
    margin: 5px;
    overflow: hidden;
}